<footer class="footer" style="background-color: #063970;">
  <div class="container">
      <div class="row">
          <div class="col-md-4 text-center"> <!-- Ajout de la classe text-center pour centrer le contenu -->
              <h5> Forum d'entreprise <br>de l’ENICARthage</h5>
              <p>Nous sommes dédiés à faciliter <br>la communication entre les entreprises<br> et l'équipe organisatrice.</p>
          </div>
          <div class="col-md-4 text-center"> <!-- Ajout de la classe text-center pour centrer le contenu -->
              <h5>Contactez-nous</h5>
              <ul class="list-unstyled">
                  <li><i class="fas fa-envelope"></i> imen.kammoun&#64;gmail.com</li>
                  <li><i class="fas fa-phone"></i> +216 25 242 406</li>
                  <li><i class="fas fa-map-marker-alt"></i> Adresse, Ville, Pays</li>
              </ul>
          </div>
          <div class="col-md-4 text-center"> <!-- Ajout de la classe text-center pour centrer le contenu -->
              <h5>Suivez-nous</h5>
              <ul class="list-unstyled">
                  <li><a href="https://www.facebook.com/FEEnicarthage"><i class="fab fa-facebook"></i> Facebook</a></li>
                  <li><a href="https://www.linkedin.com/company/forum-entreprise-enicarthage/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                  <li><a href="https://www.instagram.com/feenicarthage.7/"><i class="fab fa-instagram"></i> Instagram</a></li>
              </ul>
          </div>
      </div>
      <hr style="border-top: 1px solid #ccc;">
      <div class="row">
          <div class="col-md-12 text-center"> <!-- Ajout de la classe text-center pour centrer le contenu -->
              <p style="color: #ccc;">© 2024 Forum d'entreprise de l’ENICARthage. Tous droits réservés.</p>
          </div>
      </div>
  </div>
</footer>
