<header>
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #232678;">
    <a class="navbar-brand" routerLink="/">Forum d'Entreprises ENICARthage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/accueil" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/info" routerLinkActive="active">Info Pratiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/packs" routerLinkActive="active">Nos Packs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/editions-passees" routerLinkActive="active">Éditions Passées</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Sign out</a>
        </li>
      </ul>
      <!-- Logo à droite avec taille ajustée -->
      <img src="https://www.feenicarthage.com/logo/logo_svg.svg" alt="Logo" class="navbar-logo">
    </div>
  </nav>
  <!-- Background image -->
  <div class="p-5 text-center bg-primary" 
    style="
      background-repeat: no-repeat;
      background-image: url('./assets/img_forum.jpg');
      background-size: cover; /* Pour que l'image couvre toute la surface */
      background-position: center; /* Pour centrer l'image */
      height: 400px; /* Réduire la hauteur de l'image */
    "
  >
  </div>
</header>


