<app-navbar></app-navbar>

<div>
  <hr style="width: 7cm;">
  <p>HISTORIQUE</p>
  <hr style="width: 7cm;">
</div>
<section>
  <div class="timeline">
    <ul>
      <li>
        <div class="content">
          <h3>VERSION 2023 </h3>
          <p>
            Mercredi 15 Novembre, l'Ecole Nationale d'Ingénieurs de Carthage a eu l'honneur d'organiser la 7eme édition du Forum des Entreprises à L'UTICA. Cette réussite est le fruit d'un travail d'équipe exceptionnel.
          </p>
          <div class="video-container">
            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFEEnicarthage%2Fvideos%2F281036161023437%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
          </div>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>FEE 15 novembre 2023</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>VERSION 2022</h3>
          <p>Mercredi 15 Novembre, l'Ecole Nationale d'Ingénieurs de Carthage a eu l'honneur d'organiser la 6eme édition du Forum des Entreprises à L'UTICA.Notre plus grande fierté est d'atteindre nos objectifs et de dépasser nos attentes.</p>
          <div class="video-container">
          <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFEEnicarthage%2Fvideos%2F1468446186997743%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
          </div>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>FEE 16 novembre 2022</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>VERSION 2021</h3>
          <p>Mercredi 15 Novembre, l'Ecole Nationale d'Ingénieurs de Carthage a eu l'honneur d'organiser la 6eme édition du Forum des Entreprises à L'UTICA.Notre plus grande fierté est d'atteindre nos objectifs et de dépasser nos attentes.</p>
          <div class="video-container"><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FFEEnicarthage%2Fposts%2Fpfbid02eo5MdmihQZHy3tNY1Dr9oWkfghas94b5wrCtra6ibnApnb5MGFNi2hshK8Q9mAbPl&show_text=false&width=500" width="500" height="282" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>FEE 15 novembre 2021</h4>
        </div>
      </li>
      <li>
        <div class="content">
          <h3>VERSION 2019</h3>
          <p>La 4 édition du Forum des Entreprises de l’ENICarthage a remporté un vif succès auprès des centaines d’étudiants venus rencontrer les 40 entreprises présentes et assister aux différentes conférences et success stories qui ont été programmées le 02 décembre dernier à l’UTICA.</p>
          <div class="video-container"><iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFEEnicarthage%2Fvideos%2F446313612685585%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe></div>
        </div>
        <div class="point"></div>
        <div class="date">
          <h4>FEE 3 décembre 2019</h4>
        </div>
      </li>
      
    </ul>
  </div>
</section>
<app-footer></app-footer>
