/* General styles */
body {
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #f9f9f9b5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 600px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-wrapper {
    margin-bottom: 15px;
}

.input-wrapper label {
    display: block;
    margin-bottom: 5px;
}

.input-wrapper input,
.input-wrapper select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    appearance: none; /* Remove default appearance */
    background-color: #fff; /* Set background color */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position arrow icon */
    cursor: pointer;
}

/* Style on hover and focus */
.input-wrapper select:hover,
.input-wrapper select:focus {
    border-color: #2e4694;
    box-shadow: 0 0 5px rgba(46, 70, 148, 0.5);
}

/* Style checkboxes */
.input-wrapper select option {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between checkboxes */
}

/* Submit button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2e4694;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #294a7d;
}
