<app-navbar></app-navbar>
<p>Incontournable, fortement attendu, toujours surprenant, le forum des entreprises de l’Ecole Nationale d'Ingénieurs de Carthage est sans nul doute le plus grand rendez-vous annuel de notre école.
  C’est un moment unique rassemblant en un seul lieu professionnels, experts, universitaires et étudiants engagés tous ensemble dans l’excellence.</p>
  <section class="carousel" >
    <ul class="carousel-items">
        <li class="carousel-item">
            <div class="card">
                
                <img class="carousel-image" src="https://www.adobe.com/fr/express/feature/image/convert/jpg-to-png/media_1b0ad89a4a5ad233f5708e21b5998d6638cb07929.png?width=750&format=png&optimize=medium" />
                <div class="card-content">
                    <p class="card-text">Notre agence vous gâte avec cette Rolls-Royce!</p>
                    <a href="#" class="button" style="color: #10024f;">Plus d'informations</a>
                </div>
            </div>
        </li>
        <li class="carousel-item">
            <div class="card">
                
          
                <img class="carousel-image" src="https://www.adobe.com/fr/express/feature/image/convert/jpg-to-png/media_1b0ad89a4a5ad233f5708e21b5998d6638cb07929.png?width=750&format=png&optimize=medium" />
                <div class="card-content">
                    
                    <a href="#" class="button" style="color: #10024f;">Plus d'informations</a>
                </div>
            </div>
        </li>
        <li class="carousel-item">
            <div class="card">
                
                <img class="carousel-image" src="https://www.adobe.com/fr/express/feature/image/convert/jpg-to-png/media_1b0ad89a4a5ad233f5708e21b5998d6638cb07929.png?width=750&format=png&optimize=medium" />
                <div class="card-content">
                    
                    <a href="#" class="button" style="color: #10024f;">Plus d'informations</a>
                </div>
            </div>
        </li>
        <li class="carousel-item">
            <div class="card">
                
                <img class="carousel-image" src="/src/app/images/image1.jpg" />
                <div class="card-content">
                   
                    <a href="#" class="button" style="color: #10024f;">Plus d'informations</a>
                </div>
            </div>
        </li>
        <li class="carousel-item">
            <div class="card">
                
                <img class="carousel-image" src="https://www.adobe.com/fr/express/feature/image/convert/jpg-to-png/media_1b0ad89a4a5ad233f5708e21b5998d6638cb07929.png?width=750&format=png&optimize=medium" />
                <div class="card-content">
                    
                    <a href="#" class="button" style="color: #10024f;">Plus d'informations</a>
                </div>
            </div>
        </li>
        
    </ul>
</section>


<app-footer></app-footer>