<app-navbar></app-navbar>

<section id="pricing" class="pricing-content section-padding">
    <div class="container-fluid"> 					
        <div class="section-title text-center">
            <h1>NOS PACKS </h1>
            <p>Découvrez nos offres exclusives et choisissez le pack qui correspond le mieux à vos besoins et à votre entreprise</p>        
        </div>					
        <div class="row text-center">			
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                <div class="single-pricing ">
                    <div class="price-head">								
                        <h2>Bronze</h2>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <h1 class="price">1500DT</h1>
                    
                    <ul>
                        
                        <li><h6><i class="fa fa-check"></i>    Insertion du logo dans
                            nos réseaux sociaux</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans l'after-movie</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le presswall</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le welcome pack</h6></li>
                        <li><h6><i class="fa fa-check"></i> Stand d'exposition
                            (Emplacement selon le
                            pack)</h6></li>
                      
                    </ul>
                    <a routerLink="/formulaire">Commencer</a>
                </div>
            </div><!--- END COL -->						
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                <div class="single-pricing">
                    <div class="price-head">								
                        <h2>Silver</h2>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <h1 class="price">2500DT</h1>
                    <ul>
                        <li><h6><i class="fa fa-check"></i>    Insertion du logo dans
                            nos réseaux sociaux</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans l'after-movie</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le presswall</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le welcome pack</h6></li>
                        <li><h6><i class="fa fa-check"></i> Stand d'exposition
                            (Emplacement selon le
                            pack)</h6></li>  
                        <li><h6><i class="fa fa-check"></i>   Insertion du logo
                            dans les photos</h6></li>
                        <li><h6><i class="fa fa-check"></i> Insertion du logo
                            dans les flyers numeriques</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le presswall</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le welcome pack</h6></li>
                        <li><h6><i class="fa fa-check"></i> Stand d'exposition
                            (Emplacement selon le
                            pack)</h6></li>
                    </ul>
                    <a routerLink="/formulaire">Commencer</a>
                </div>
            </div><!--- END COL -->	
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                <div class="single-pricing">
                    <div class="price-head">								
                        <h2>OR</h2>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <h1 class="price">3500DT</h1>
                    <ul>
                        <li><h6><i class="fa fa-check"></i>    Insertion du logo dans
                            nos réseaux sociaux</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans l'after-movie</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le presswall</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le welcome pack</h6></li>
                        <li><h6><i class="fa fa-check"></i> Stand d'exposition
                            (Emplacement selon le
                            pack)</h6></li>  
                        <li><h6><i class="fa fa-check"></i>   Insertion du logo
                            dans les photos</h6></li>
                        <li><h6><i class="fa fa-check"></i> Insertion du logo
                            dans les flyers numeriques</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le presswall</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le welcome pack</h6></li>
                        <li><h6><i class="fa fa-check"></i> Stand d'exposition
                            (Emplacement selon le
                            pack)</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Projeter une vidéo
                            publicitaire</h6></li>
                        <li><h6><i class="fa fa-check"></i> Intervention du
                            représentent du sponsor</h6></li>
                    </ul>
                    <a routerLink="/formulaire">Commencer</a>
                </div>
            </div><!--- END COL -->	
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
                <div class="single-pricing single-pricing-white">
                    <div class="price-head">								
                        <h2>Officiel</h2>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <span class="price-label">Meilleur</span>
                    <h1 class="price">5000DT</h1>
                    <ul>
                        <li><h6><i class="fa fa-check"></i>    Insertion du logo dans
                            nos réseaux sociaux</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans l'after-movie</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le presswall</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le welcome pack</h6></li>
                        <li><h6><i class="fa fa-check"></i> Stand d'exposition
                            (Emplacement selon le
                            pack)</h6></li>  
                        <li><h6><i class="fa fa-check"></i>   Insertion du logo
                            dans les photos</h6></li>
                        <li><h6><i class="fa fa-check"></i> Insertion du logo
                            dans les flyers numeriques</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le presswall</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Insertion du logo
                            dans le welcome pack</h6></li>
                        <li><h6><i class="fa fa-check"></i> Stand d'exposition
                            (Emplacement selon le
                            pack)</h6></li>
                        <li><h6><i class="fa fa-check"></i>  Projeter une vidéo
                            publicitaire</h6></li>
                        <li><h6><i class="fa fa-check"></i> Intervention du
                            représentent du sponsor</h6></li>
                        <li><h6><i class="fa fa-check"></i> Filmer un podcast
                            avec le sponsor</h6></li>
                        <li><h6><i class="fa fa-check"></i> Personnalisation du
                            welcome pack</h6></li>
                        <li><h6><i class="fa fa-check"></i> Accès à la Cvthèque
                            relative à nos diplomés</h6></li>
                        <li><h6><i class="fa fa-check"></i> Challenge proposé
                            par le sponsor</h6></li>
                    </ul>
                    <a routerLink="/formulaire">Commencer</a>
                </div>
            </div><!--- END COL -->	
           
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<app-footer></app-footer>